html{
  box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100vh;
}

.container {
	position: center center;
	margin: 0 auto;
	/* background-color: #bd213a; */
	display: inline-block;
	justify-content: center;
}



/* Styling for list items and list */
#lists {
	color: black;
	z-index: 1;
	position: relative;
	top: 0;
	margin-top: -1.5%;
}
/* li of autosuggest */
#lists li {
	width: 25vw;
	cursor: pointer;
	/* border-radius: 5px; */
}
#lists-container {
	max-height: 30vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.card {
  display: flex;
	margin-left: auto;
	margin-right: auto;
}

#msg-container {
	position: absolute;
	left: 40%;
	right: auto;
	top: 40%;
	padding: 3%;
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
}
#message {
	/* font-family: monospace; */
	font-size: 1.2rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(120deg,#f6d390 0%,#863d13 100%);
  color: darkslategray;
  font-family: cursive;
  min-height: 100vh;
}
#search_box{
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background: wheat;
    outline: none;
    margin-left: 450px;
}
.search{
 padding: 1rem;
  font-size: 2rem;
  border: none;
  background: wheat;
  outline: none;
  cursor: pointer;
  margin-left: 30px;
}

header{
  font-size: 2rem;
}

header,form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

    button{
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background: wheat;
    outline: none;
}
form button{
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
}
form button:hover{
  background: red;
  color: white;
}

.middle{
    margin: 0px;
    margin-left: 32rem;
    margin-top: 15px;
    font-size: 2rem;
    margin-bottom: 50px;
    font-size: 40px;
}

.fav_btn{
    margin-left:90%;
    margin-top: 10px;
    font-size: 1.5em;
}
/* .enter{
    margin-left: 50rem;
    margin-top: -43px;
    height: 27px;
} */




/*  for the search results displaying of superhero */


#outer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* for individual tempelates */
.main
{
    padding: 15px;
    width: 25vw;
    height: 25vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.inner{
    width: 130px;
    margin-top: 15px;
}
#fav{
    margin-top: -1px;
}

#add_img > img{
    width: 130px;
    height:160px;
    border-radius: 30%;
    margin-top: -10px;
}
